<doctype! html>

<html>
<head>
<link rel="stylesheet" href="./../static/style.css" >
<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
</head>
<body>
	<p class="page_info"> Hey there {{firstname}} {{lastname}}! Thanks for applying for the {{postion}} position here at <span class="branding">BowChickaBowWow</span>! We're reviewing your application and considering your request for {{salary}} bales of hay per day. 

		We will be in touch shortly. Thank you!
	</p>
	<h2> 
		<span id="bowchicka"> Bow Chicka Bow Wow!</span> 
		<span id="bowwow">Brown Chicken Brown Cow </span> 
	</h2>
</body>		

</html>